<!DOCTYPE html>
<html lang="ca">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Afegir Reserva</title>
    </head>

    <body>
        <h1>Afegir Nova Reserva</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Afegir Reserva</button>
        </form>

        <br>
        <a href="{% url 'view_autos' %}">Veure llistat d'automòbils</a>

    </body>

</html>